[mysqld]

bind-address = {{mysql_bind_address}}

# max connections
max_connections = 200


# memory optimization
innodb_buffer_pool_size = 256M


# Logging
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log

# Security
symbolic-links = 0
